
@charset "utf-8";

.link  > li > a:hover, .link  > li.active a {   /*設定鼠標*/ /*保持選定鼠標狀態*/ 
	background-color: black;  /*設定鼠標*/	
}

.headline {
	width: 1920px;  /*不出現滾動條*/
	height: 300px;
	background-image: linear-gradient(to bottom right, rgba(0,0,0,0.0),rgba(0,0,0,0.7)), url(https://vignette.wikia.nocookie.net/pokerhero/images/7/76/VERVOLG_IMAGE_1920x300_25.jpg/revision/latest?cb=20141103063642&path-prefix=zh) ; /* no-repeat 不重複顯示圖片 ； center 居中*/   
}    /*linerar-gradient-漸進顏色方位、顏色（2個rgb代表兩種顏色）、透明度（a） ； 以後可用高斯模糊來處理*/

.h-center {
	width: 1263px;
	height: 300px;
    margin: 0 auto;
}

hgroup {
	padding: 100px 0 0 50px;
}

hgroup > h2 {
	color:#eee;
	font-size: 36px;
	letter-spacing: 1px;
}

hgroup > h3 {
	color:#eee;
	font-size: 20px;
	letter-spacing: 1px;
}

.hg2 {
     padding: 0 ;
     margin:  0;
}

.sidebar {
	width: 340px;
	/*height: 1200px; 讓網頁自己調整 */
	background-color: #eee;
	float:right;
}



.sidebox {
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
	text-align: center;
}

.sidebox > h2 {
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	text-indent: 8px;
	height: 35px;
	line-height: 40px;
	background-color: #fafafa;
	color:#666;
	text-align: left;
}

.tag {
	padding: 10px 0;  /* 下上、左右*/
}

.tag > ul > li {       /* 把a改成ul > li，使list成為inline-block*/
	display:inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0;
    background-color: #fafafa;
    color:#999;
}

.tag > ul > li > a {
	display: block;  /*解決inlineblock範圍不足的問題，block完全包含了li的長寬設置*/
}


.tag > ul > li > a:hover {
    background-color: #458b00;
    color:#fff;
}

.hotpht > figure {
	display: inline-block;
	padding: 4px;
	color:#666;
}

.treasure {
	padding: 10px 0;  /* 下上、左右*/
}

.treasure  > a {
	display:inline-block;
	width: 150px;
	height: 35px;
	line-height: 35px;
	margin: 8px 0;
    background-color: #fafafa;
    color:#999;    
}

.treasure  > a:hover {
    background-color: #458b00;
    color:#fff;
}

.tre1 {
	background:#eee url(https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/128/_app_store_128.png) no-repeat 10px center;
}

.tre2 {
	background:#eee url(https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/128/_app_store_128.png) no-repeat 10px center;
}


.tre3 {
	background:#eee url(https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/128/_app_store_128.png) no-repeat 10px center;
}


.tre4 {
	background:#eee url(https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/128/_app_store_128.png) no-repeat 10px center;
}


.list {
	width: 910px;
	/*height: 1200px; 自行調整 */ 
	background-color: white;
	float: left;

}  

.container {
	width:1263px;
	/*height: 1200px; 讓網頁自己調整 */
	margin: 30px auto;
}



.list {
	width: 910px;
	/*height: 1200px; 自行調整 */ 
	background-color: white;
	float: left;
}  

.ticket{
	color: #666;
	font-size: 20px;
}

.ticket > form > h2 {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #999;
	padding:  0 0 20px 0;
}

.tickettype {
	margin: 20px 0 0 0;
}

.tickettype > p > mark {
	color:#fff;
	background-color: #458b00;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 10px 0 16px;
}

input {
	width: 250px;
	line-height: 30px;
	border: 1px solid #ccc;
	background-color:#fff;
	border-radius: 4px;
	padding: 5px;
	font-size: 18px;
	color: #666;
	margin: 0 0 0 16px;
}

.ticketright {
    display: inline-block;
    width: 43%;
}

.ticketleft {
    display: inline-block;
    width: 43%;

}

.button {
	display: inline-block;
	width: 9%;
}

.submit {
	display: block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border: none;
	position: absolute;
    top:555px;
    cursor: pointer;
}

.new > h2 {
	border-bottom: 1px dashed #999;
	padding:  0 0 20px 0;
}

.new > ul {
	margin: 20px 0 0 0;
}

.new > ul > li {
	display: inline-block;
	padding:  5px 5px 10px 10px;
}

.new > ul > li:nth-child(2) {
	background-color: #458b00;
	border-radius: 4px;
	color: white;
}

.table {
	padding: 20px 0 0 0;
	width: 100%;
	border:  1px solid #ddd;
	border-collapse: collapse;
	text-align: center;
}

.table > tr > th {
	border:  1px solid #ddd;
}

.table > thead > tr > th {
    height: 50px;
	line-height: 50px;
	border-bottom:   1px solid #ddd;
}

.table > tbody > tr > td {
	height: 50px;
	line-height: 50px;
	border-bottom:  1px solid #ddd;
}

.table > tfoot > tr > td {
	height: 50px;
	line-height: 50px;
	border-bottom:  1px solid #ddd;
}

.table > tbody > tr:nth-child(2n) {     /*選取雙數反差呈現*/
    background-color: #eee;
}

.table > tbody > tr:hover {     /*選取雙數反差呈現*/
    background-color: #ccc;
}

.price {
	color: #f60;
}

.tablemore{   
	color: #666 ;
}

.tbodyreserve {
	display: inline-block;    /*使其自動居中*/
	width: 80px;
	height: 35px;
	line-height: 35px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border: none;
    cursor: pointer;
}